body{

}
<<<<<<< HEAD

#color-gris{
     color: grey;
=======


#color-gris{
     color: grey;
}
>>>>>>> 0d70834c957e6bb2fcc40fbc35b8af31952e3bb3
#navbar_id{
    background-color: black !important;
    
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
}
.white_background{
      margin: 30px;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);

<<<<<<< HEAD
=======
}
.navbarSupportedContent{
    color:white !important;
    
>>>>>>> 0d70834c957e6bb2fcc40fbc35b8af31952e3bb3
}