<!-- your html code here -->
<div class="row">
    <div class="col-6">
        <h1>This First Heading.<span id="color-gris">Will catch up your eyes</span></h1>
        <p>noun (weeh-paah!) a word that you shout to show that you are excited and happy
        about something; expresses joy, approval, or encouragement.... noun (weeh-paah!) 
        a word that you shout to show that you are excited and happy about something; expresses 
        joy,approval, or encouragement. noun (weeh-paah!) a word that you shout to show that you
        are excited and happy about something; expresses joy,approve or encouragement 
        </p>
    </div>    
    <div class="col-6">
       <img src="https://i.pinimg.com/originals/4e/4f/31/4e4f318c9e910a8d1697aa25142ecd1b.jpg" class="img-fluid" alt="Responsive image"></img>
    </div>
        

</div>

